.App {
  text-align: center;
  display: grid;
  grid-template-columns: 5% 18% 18% 18% 18% 18% 5%;
  grid-template-rows: auto;
  grid-template-areas: 
    ". header header header header header ."
    ". table table table table table ."
    ". . . courseButton . . .";
}

nav {
  grid-area: header;
  align-items: center;
  padding-top: 1%;
}

.navTitle {
  font-size: x-large !important;
  font-weight: 600 !important;
}

.classTable {
  grid-area: table;
  color: #ffffff !important;
  border: none !important;
  & .tableCell {
    font-size: medium !important;
  }
  & .tableCellHeader {
    font-size: large !important;
  }
}

.addCourseButton {
  grid-area: courseButton;
  place-self: center;
}

.dialogTitle {
  padding: 3% 5% 3% 5% !important;
}

.dialogContent {
  padding: 0% 5% 0% 5%;
  display: grid;
}

.dialogActions {
  padding-bottom: 3% !important;
  padding-right: 3% !important;
  padding-left: 3% !important;
  justify-content: space-between !important;
}

.dialogHeader {
  display: inline-flex;
  align-items: center;
}

.dialogCloseButon {
  right: -320%;
  padding-top: 0%;
}

.radioGroup {
  display: inline-block;
}